<!DOCTYPE html>
<html>
<head>
  <title>Fillaww</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="description" value="Filler (placeholder) images that make you go aww.">
  <meta name="keywords" value="filler images,placeholder,web dev,cute images"
</head>
<body>

<%= yield %>

</body>
</html>
